{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-5">
     <div class="card">
       <h2 class="card-title text-center">Register</h2>
        <div class="card-body py-md-4">
         <form _lpchecked="1" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
          <div class="form-group">
               <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                              </div>          
     <div class="form-group">
       <input type="password" class="form-control" id="password" placeholder="Password" name="password1">
     </div>
     
     <div class="form-group">
        <input type="password" class="form-control" id="confirm-password" placeholder="confirm-password" name="password2">
     </div>
     <div class="d-flex flex-row align-items-center justify-content-between">
        <a href="{% url 'login' %}">Login</a>
     <input type="submit" value="SignUp">
            </div>
         </form>
       </div>
    </div>
  </div>
  </div>
  </div>

{% endblock %}