{% extends 'main.html' %}
{% block content %}
    <h1>Products</h1>
    <h1><a href="{% url 'profile' %}">Profile</a></h1>
    <h2> <a href="">Cart</a></h2>
    {% if request.user.is_authenticated %}
      <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}
    <button><a href="{% url 'add-product' %}">Add product</a></button>
    {% for product in products %}
    <div class="block">
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
      <p>$ {{product.price}}</p>
      <img src="{{product.product_image.url}}" alt="image-T" width="400px" height="200px" object-fit="cover">
      {% if product.status == True %}
        <p>Status: Available</p>
        <button><a href="">add to cart</a></button>
      {% else %}
        <p>Status: Out of stock</p>
      {% endif %}
      <button><a href="">View More</a></button>
    </div>
    {% endfor %}
{% endblock %}